* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  backface-visibility: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #ffa38f; */
  /* background: url(nature_orange.jpg);
  background-position: center; */
  /* background-size: cover; */
}

main {
  /* position: relative; */
  height: 100vh;
  background-image: url(backG.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* filter: blur(3px); */
}
.floating div {
  width: 3rem;
  height: 3rem;
  border: 2px solid #ff5e00;
  background-color: transparent;
  /* background-color: blue; */
  position: absolute;
  animation: animate 8s linear infinite;
  z-index: 0;
  opacity: 0;
}
.floating div:nth-child(2) {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation-delay: 6s;
  top: 15%;
  border-radius: 50%;
  background-color: #ff7300;
  left: 15%;
}
.floating div:nth-child(3) {
  width: 2rem;
  height: 2rem;
  left: 25%;
  top: 46%;
  animation-delay: 10s;
}
.floating div:nth-child(4) {
  animation-delay: 14s;
  top: 30%;
  left: 30%;
}
.floating div:nth-child(5) {
  background-color: #ff7300;
  left: 45%;
}
.floating div:nth-child(6) {
  border-radius: 50%;
  animation-delay: 9s;
  top: 50%;
  width: 4rem;
  height: 4rem;
  left: 55%;
}
.floating div:nth-child(7) {
  border-radius: 50%;
  animation-delay: 3s;
  background-color: #ff7300d3;
  top: 25%;
  left: 75%;
}
.floating div:nth-child(8) {
  animation-delay: 5s;
  left: 85%;
}
.floating div:nth-child(10) {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  left: 93%;
}
.floating div:nth-child(11) {
  top: 45%;
  width: 4rem;
  height: 4rem;
  animation-delay: 6s;
  left: 34%;
}
.floating div:nth-child(12) {
  width: 1rem;
  height: 1rem;
  animation-delay: 2s;
  left: 43%;
}
.floating div:nth-child(13) {
  width: 1rem;
  animation-delay: 4s;
  height: 1rem;
  left: 10%;
}
.floating div:nth-child(14) {
  width: 1rem;
  animation-delay: 8s;
  height: 1rem;
  left: 90%;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  25% {
    opacity: 0.8;
    transform: translateY(10rem);
  }
  40% {
    opacity: 0.5;
    transform: translateX(-10rem);
  }
  60% {
    transform: translateX(5rem);
  }
  75% {
    transform: translateX(5rem);
    transform: translateY(25rem);
    opacity: 0.7;
  }
  100% {
    transform: translateY(30rem);
    opacity: 0;
  }
}
a {
  text-decoration: none;
  color: black;
}
nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  /* position: fixed; */
}
.logo {
  margin-top: 0.6rem;
}
.logo img {
  /* padding: 1.2rem 2.4rem; */
  width: 22.4rem;
  height: 9rem;
}
ul li a:hover {
  border-bottom: solid #ffffffaf;
  transition: 0.4s;
}

.navigation {
  margin-top: 0.6rem;
  /* background-color: red; */
}
.menu-bar {
  display: none;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul li {
  background-color: transparent;
  margin: 1.6rem 0.4rem;
  border-radius: 10rem;
  padding: 1rem 2.4rem;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 550;
}
.home {
  background-color: #ffffffaf;
}

ul:last-child {
  margin-right: 1.2rem;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 7.2rem;
}
p {
  font-size: 1.8rem;
}
.c {
  margin: 0;
  line-height: 7;
}
.i {
  font-size: 2.4rem;
  margin-left: 1.2rem;
}
.profile-text h2 {
  line-height: 0px;
  color: #380b0be0;
  font-size: 5.8rem;
}
.profile-text span {
  font-weight: 500;
  font-size: 2.4rem;
  color: #db2100;
}
.profile-img {
  border-radius: 50%;
  box-shadow: 0 8px 2.6rem 8px rgba(0, 0, 0, 0.4);
  width: 29.8rem;
  height: 29.8rem;
  border: 3px solid #ffffffa2;
  /* background-color: red; */
  position: relative;
  overflow: hidden;
}
.profile-img img {
  /* padding-right: -4.2rem; */
  position: absolute;
  /* z-index: -1; */
  width: 30.8rem;
  height: 30.8rem;
  transform: scale(1.15);
}
.social {
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* transform: translateY(50%); */
  gap: 1rem;
  left: 2%;
  /* z-index: 99; */
}
.social-icon {
  color: rgb(24, 11, 2);
}
.social a:hover .social-icon {
  color: rgba(32, 15, 3, 0.451);
}
.about {
  margin: 2.4rem 0;
}
.about-box {
  display: flex;
  gap: 4.8rem;
  padding: 5.4rem 12.2rem;
}
.about-box div img {
  width: 24rem;
  border-radius: 1rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
h2 {
  margin-top: 3.8rem;
  font-size: 3.6rem;
  text-align: center;
}
h3 {
  font-size: 2.4rem;
}
.its-me {
  font-size: 2rem;
  text-align: center;
  line-height: 0.2;
  position: relative;
  font-family: 'Dancing Script', cursive;
  color: #e97b50;
}

.about,
.services,
.my-skills,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-content h3 {
  margin-bottom: 1.2rem;
}
.about-content p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.74);
}
button {
  margin-top: 2.4rem;
  padding: 1.2rem 2.4rem;
  color: white;
  background-color: #ec573d;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 2px solid #ec573d;
  transition: all 0.4s;
  box-shadow: 0 2px 5px black;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 5px #000000b2;
  background-color: #ec573d;
  border: 2px solid #ec573d;
}

button:active {
  transform: translateY(0px);
  box-shadow: 0 2px 5px #000000b2;
}

.services {
  background-image: url(handshake3Compressed.jpg);
  /* backdrop-filter: blur(300px); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
svg {
  width: 6.4rem;
  /* font-size: 2rem; */
}
.services-box {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4.2rem;
  gap: 1.8rem;
}

.my-skills {
  /* height: 75vh; */
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  background-color: #0f0500e6;
  color: white;
}

.skills {
  position: relative;
  height: auto;
  width: 30%;
  padding: 1rem 2.4rem;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  backdrop-filter: blur(20px);
  background-color: hsla(20, 100%, 3%, 0.247);

  border-radius: 2rem;
  transition: all 0.4s;
  overflow: hidden;
}

.skills:hover {
  backdrop-filter: none;
  background-color: #ec573d;
  transform: scale(1.08);
}

/* .skills-2 {
  transform: scale(1);
} */

/* .skills-1:hover .skills-2 {
  transform: scale(0.1);
} */

.skills .light-glow {
  display: block;
  animation: lightGlow 5s linear infinite;
}

.skills:hover .light-glow {
  /* animation: none; */
  animation: lightGlow 15s linear infinite;
}

.light-glow {
  display: none;
  position: absolute;
  transform: rotate(60deg);
  height: 95rem;
  width: 5rem;
  top: -45rem;
  left: -7rem;
  background-color: rgba(255, 255, 255, 0.466);
  filter: blur(20px);
  /* transition: 4s; */

  z-index: -1;
}

.skills h4 {
  font-size: 1.9rem;
  margin: 1.2rem 0;
}
.skills p {
  font-size: 1.4rem;
}
.skills-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10.6rem;
  padding: 3.6rem 12.2rem;
}
.creative-skills {
  line-height: 1.4;
  padding: 0;
}
.skills-desc div {
  margin-top: 1.6rem;
}
.bar-per-area {
  width: 85%;
}
h4 {
  margin: 1.6rem 0;
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
}
.range {
  margin: 0;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  background-color: rgba(128, 128, 128, 0.644);
}
.range span {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 91%;
  background-color: #ec573d;
}
.bar-range {
  display: flex;
  justify-content: space-between;
}

.range2 span {
  width: 88%;
}

.range3 span {
  width: 80%;
}
.range4 span {
  width: 30%;
}
.bar-range h4 {
  margin: 0;
}
.getintouch {
  padding: 0 10%;
}
h5 {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  margin-bottom: 0.2rem;
}
.contact {
  padding: 3.6rem 8.2rem;
  border-top: 2px solid gray;
}
.contact h2 {
  margin: 1.2rem;
}
.contact p {
  margin-bottom: 1.2rem;
  color: #5a5757;
}
.contact-details {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.contact-details div svg {
  width: 5.4rem;
  padding-top: 1.2rem;
}
input,
textarea {
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  /* display: block; */
  width: 90%;
  padding: 1.5rem 2.5rem;
  border: none;
  /* border: 1px solid grey; */
  border-bottom: 3px solid #2f32ff93;
  box-shadow: 0 1rem 2rem 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

input:not(:last-child) {
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

input:focus:invalid,
textarea:focus:invalid {
  border-bottom: 3px solid #ec573d;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 3px solid #3dec46;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

label {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 2.5rem;
  margin-top: 0.1rem;
  display: block;
  transition: 0.3s;
}

input:placeholder-shown ~ label,
textarea:placeholder-shown ~ label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
}

.contact-desc {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}
.input-cont {
  gap: 1.2rem;
  /* display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr; */
}

/* .input-cont input:nth-child(3),
.input-cont input:nth-child(4) {
  grid-column: -1/1;
} */
.footer {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: white;
  height: 16rem;
}
.terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.4rem;
}
.terms p {
  color: rgb(197, 197, 197);
  letter-spacing: 2px;
}
.footer img {
  width: 20rem;
}
.footer span {
  color: white;
  font-size: 1.35rem;
}
